<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>We are a Boston-based startup founded by students from 
Babson College and the Franklin W. Olin College of Engineering.</p>
<p>We are trying to make it possible to design and market micro-fashion
lines from the comfort of your home</p>
