<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
	To learn more about who we are and what our mission is contact us
	at <a href="mailto:DesReveCompany@gmail.com">DesReveCompany@gmail.com</a>
</p>
